<!-- Bg coloured shapes -->
<div class="absolute inset-y-0 w-[1102px] left-1/2 -translate-x-1/2 -z-10 pointer-events-none blur-3xl"
  aria-hidden="true">
  <div
    class="absolute w-[960px] h-24 top-12 animate-[swing_8s_ease-in-out_infinite] before:absolute before:inset-0 before:rounded-tl-full before:rounded-br-full before:bg-gradient-to-b before:from-transparent before:to-transparent before:via-indigo-600 before:-rotate-[42deg]">
  </div>
  <div
    class="absolute w-[960px] h-24 -top-12 -left-28 animate-[swing_15s_-1s_ease-in-out_infinite] before:absolute before:inset-0 before:rounded-tl-full before:rounded-br-full before:bg-gradient-to-b before:from-transparent before:to-transparent before:via-white dark:before:via-indigo-400 before:-rotate-[42deg]">
  </div>
  <div
    class="absolute w-[960px] h-16 top-36 left-80 animate-[swing_7s_-2s_ease-in-out_infinite] before:absolute before:inset-0 before:rounded-tl-full before:rounded-br-full before:bg-gradient-to-b before:from-transparent before:to-transparent before:via-white dark:before:via-indigo-400 before:-rotate-[42deg]">
  </div>
  <div
    class="absolute w-[960px] h-64 top-[820px] left-44 animate-[swing_10s_ease-in-out_infinite] before:absolute before:inset-0 before:rounded-tl-full before:rounded-br-full before:bg-gradient-to-b before:from-transparent before:to-transparent before:via-indigo-600/30 dark:before:via-indigo-400/30 before:-rotate-[42deg]">
  </div>
  <div
    class="absolute w-[480px] h-12 top-[970px] left-[550px] animate-[swing_15s_-2s_ease-in-out_infinite] before:absolute before:inset-0 before:rounded-tl-full before:rounded-br-full before:bg-gradient-to-b before:from-transparent before:to-transparent before:via-white dark:before:via-indigo-950 before:-rotate-[42deg]">
  </div>
  <div
    class="absolute w-[960px] h-16 top-[820px] left-24 animate-[swing_9s_-3s_ease-in-out_infinite] before:absolute before:inset-0 before:rounded-tl-full before:rounded-br-full before:bg-gradient-to-b before:from-transparent before:to-transparent before:via-white dark:before:via-indigo-900 before:-rotate-[42deg]">
  </div>
</div>

<!-- Vertical lines -->
<div class="absolute inset-y-0 w-[1102px] left-1/2 -translate-x-1/2 -z-10 pointer-events-none" aria-hidden="true">
  <!-- Left side -->
  <div
    class="before:absolute before:inset-y-0 before:left-0 before:border-l before:[border-image:linear-gradient(to_bottom,theme(colors.indigo.300/.4),transparent)1] dark:before:[border-image:linear-gradient(to_bottom,theme(colors.indigo.300/.16),transparent)1] before:shadow-[-1px_0_0_0_theme(colors.white/.2)] dark:before:shadow-none after:absolute after:inset-y-0 after:left-20 after:border-l after:[border-image:linear-gradient(to_bottom,theme(colors.indigo.300/.4),transparent)1] dark:after:[border-image:linear-gradient(to_bottom,theme(colors.indigo.300/.16),transparent)1] after:shadow-[-1px_0_0_0_theme(colors.white/.2)] dark:after:shadow-none">
  </div>
  <!-- Right side -->
  <div
    class="before:absolute before:inset-y-0 before:right-0 before:border-l before:[border-image:linear-gradient(to_bottom,theme(colors.indigo.300/.4),transparent)1] dark:before:[border-image:linear-gradient(to_bottom,theme(colors.indigo.300/.16),transparent)1] before:shadow-[-1px_0_0_0_theme(colors.white/.2)] dark:before:shadow-none after:absolute after:inset-y-0 after:right-20 after:border-l after:[border-image:linear-gradient(to_bottom,theme(colors.indigo.300/.4),transparent)1] dark:after:[border-image:linear-gradient(to_bottom,theme(colors.indigo.300/.16),transparent)1] after:shadow-[-1px_0_0_0_theme(colors.white/.2)] dark:after:shadow-none">
  </div>
</div>